.code {
  position: relative;
  background: #292B32;
  padding: 10px;
  border-radius: 3px;
}

.codeIcons {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.codeIcons button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}
