.container {
  margin: 1em auto;
  max-width: 40em;
}

.flex {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.goBack {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #228be6;
  color: #fff;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 4px;
}

.goBack:hover {
  background: #1c7ed6;
}

.dangerZoneContainer {
  border-top: 1px solid #e51a21;
}

.dangerZoneContainer button {
  background: #e51a21;

  @mixin hover {
    background: #c7191f;
  }
}
