.header {
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.logo {
  display: flex;
  align-items: center;
  font-size: rem(18px);
}

.logo img {
  width: rem(40px);
}

.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
}
