.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }
}

.opts {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.logoutButton {
  background: #E51A21;

  @mixin hover {
    background: #C7191F;
  }
}
